.same{
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    border: 0;
    height: 30px;
    
}
.div{
    width: 300px;
    height: 30px;
    border: solid 1px #000000;
}
.text{
    width: 70%;
    background-color: #f6f6f6;
}
.btn{
    width: 30%;
    background-color: #1186da;
}
